@import "compass/css3";

.or-spacer {
  margin: 50px auto 0 auto;
  width:400px; 
  position:relative; 
  
  .mask { 
    overflow:hidden; height:20px; 
    &:after { 
      content:''; 
      display:block; margin:-25px auto 0;
      width:100%; height:25px;  
      border-radius:125px / 12px;  
      box-shadow:0 0 8px black;
    }
  }
  span {
    $size:50px;
    width:$size; height:$size; 
    position:absolute; 
    bottom:100%; margin-bottom:-$size/2;
    left:50%; margin-left:-$size/2;
    border-radius:100%;
    box-shadow:0 2px 4px #999;
    background:white;
  }
  span i {
    $offset:4px;
    position:absolute;
    top:$offset; bottom:$offset;
    left:$offset; right:$offset;
    border-radius:100%;
    border:1px dashed #aaa;
    
    text-align:center;
    line-height:40px;
    font-style:normal;
    color:#999;
  }
}



// vertical variation

.or-spacer-vertical {
  display:inline-block;
  margin-top:100px; margin-left:100px; width:100px; 
  position:relative; 
  
  .mask { 
    overflow:hidden; width:20px; height:200px; 
    //outline:1px solid pink;
  }
  &.left .mask:after { 
    content:''; 
    display:block; margin-left:-20px;
    width:20px; height:100%;  
    border-radius:12px / 125px;  
    box-shadow:0 0 8px black;
  }
  &.right .mask:before { 
    content:''; 
    display:block; margin-left:20px;
    width:20px; height:100%; 
    border-radius:12px / 125px; 
    box-shadow:0 0 8px black;
  }
}

.inline-list li {
    display: inline-block;
}

.connect-icon:hover {
    color: #00cccc;
}

.shattered {
    background: url('../images/shattered.png');
}

.bright-squares {
    background: url('../images/bright_squares.png');
}


body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

header-info {
    .or-spacer {
        margin: 0 auto;
    }
    
}
.sidebar .links { 
    margin: 0;
    padding: 0;
}

.sidebar .links li {
    margin: 0;
    padding: 0;
}

.sidebar .links a {
    width: 220px;
    padding: 10px;
    padding-left: 20px;
    display: inline-block;
}

.sidebar .links a:hover {
    background: #545454;
}

.section-title {
    text-align: center;
}

.carousel-item {
    margin: 2px;
    .title {
        position: absolute;
        background: rgba(255,255,255,0.75);
        width: 98.5%;
        padding: 0 10px;
        font-size: 20px;
        font-weight: bolder;
    }
}
