/web/bundles/
/app/bootstrap.php.cache
/var/cache/*
/app/config/parameters.yml
/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep
/app/phpunit.xml
/build/
/vendor/
/composer.phar
/node_modules/
/nbproject/
/assets/vendors/
/web/build/
/web/dist/
/web/uploads