# This file is a "template" of what your parameters.yml file should look like
# Set parameters here that may be different on each deployment target of the app, e.g. development, staging, production.
# http://symfony.com/doc/current/best_practices/configuration.html#infrastructure-related-configuration
parameters:
    locale: en
    en:     en
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     symfony
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_port:       587
    mailer_user:       ~
    mailer_password:   ~
    mailer_encryption: tls
    mailer_recevier: null

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt

    personal:
        name: Name Here
        install_at: 2015
        urls:
            github: https://github.com/
            bitbucket: https://bitbucket.org/
            linkedin: https://www.linkedin.com/
            twitter: https://twitter.com/

    readmore_tag: '[readmore]'

    recaptcha_public_key: null
    recaptcha_private_key: null

    ga_id: null