{% extends '::layout.html.twig' %}

{% block title %}{{ status_code }} Error{% endblock %}

{% block content %}
    <div class="container">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h1>Error: {{ status_text }}</h1>
            </div>
            <div class="panel-body">
                <p class="important-error">
                    An error has occured on the server. This may have been a one time glitch on our system due to routine maintenance.<br>
                    If the error continues to persist, please notify technical support, so the error can be properly investigated.
                </p>
                <br>
                
                <div class="text-center">
                    <a href="javascript:history.go(-1);" class="btn btn-primary">Go back</a>
                    <a href="{{ url('main_index') }}" class="btn btn-default">Return Home</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
