{% extends '::layout.html.twig' %}

{% block title %}{{ status_code }} Error{% endblock %}

{% block content %}
    <div class="container">
        <div class="panel panel-danger">
            <div class="panel-heading">
                <h1>Error: {{ status_text }}</h1>
            </div>
            <div class="panel-body">
                <p class="important-error">The page or file you have requested has been moved, taken off the site, or your permissions has been restricted.</p>
                <br>
                
                <div class="text-center">
                    <a href="javascript:history.go(-1);" class="btn btn-primary">Go back</a>
                    <a href="{{ url('main_index') }}" class="btn btn-default">Return Home</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
